.my-carousel{
    width: 100%;
    margin: 40px 10px;
}
.card_post_top{
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 10px #999;
    margin: 10px;
    border-radius: 10px;
}
.card_post_top:hover .text_post_top h2{
    color: var(--cor-main);
}
.card_post_top:hover .img_thump_post_top{
    transform: scale(1.01);
}
.card_post_top img.img_thump_post_top{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    -o-object-fit:cover;
    transition: .25s;
}

.text_post_top{
    margin: 20px 0;
    padding: 10px;
}
.text_post_top h2{
    font-size: var(--md-title);
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
}
.text_post_top p{
    margin-top: 10px;
    font-size: var(--lg-text);
    font-weight: 100;
}
.card_post_top_author{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.card_post_top_author .img_author{
    width: 32px;
    margin-right: 20px;
}
.card_post_top_author .img_author img{
    width: 100%;
}
a.link_post{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.owl-next{
    position: absolute;
    top: 150px;
    right: 10px;
    background-color: rgba(0,0,0, .5)!important;
}
.owl-next:hover{
    background-color: var(--cor-main)!important;
}
.owl-prev{
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: rgba(0,0,0, .5)!important;
}
.owl-prev:hover{
    background-color: var(--cor-main)!important;
}
.owl-next span, .owl-prev span{
    font-size: 5em;
    color: #fff;
}

@media(max-width: 768px){
    .my-carousel{
        margin: 0px;
    }
}
@media(max-width: 420px){
    .owl-next, .owl-prev{
        top: 80px;
        padding: 20px!important;
    }
    .owl-next span, .owl-prev span{
        font-size: 3em;
    }
}